.peopleList {
  overflow: scroll;
  white-space: nowrap;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  width: 100vw;
  padding: 0 270px;
}
.peopleList::-webkit-scrollbar {
  display: none;
}
img {
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}